#container{
position: relative;
height: 800px;
width: 800px;
background-color: rgb(144, 139, 131);
left:20%;

}
#more{
    position: relative;
    width: 500px;
    max-height:500px;
    left: 18%;
    text-align:left;
    padding: 20px;
    top:20px;
    background-color: white;
    box-shadow: 5px solid white;
    overflow-y: hidden;
    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-height 0.7s;
}
p{
    height: 100%;
   
}

#show-more{
    background-color: #1594e5;
    color:#fff;
    font-family: calibri;
    display: block;
    font-size:large;
    width: 140px;
    height: 40px;
    text-transform: uppercase;
   border:none;
    text-align: center;
    margin: 20px auto;
    cursor: pointer;
    position: relative;
    top:20px;

}

#more.open{
    max-height: 800px;
    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-height 0.7s;
}
